body {
    /* border: 15px solid red; */
    background-color: #a8a18b;
    color: whitesmoke;
    font-size: 30px;
}
.head1 {
    background-color: rgb(71, 11, 48);
    border: 20px solid rgb(231, 224, 212);
    border-style: groove;
    border-radius: 6px;
    margin: 10x 240px 10px;
    padding: 11px;
    text-align: center;
    font-size: 45px;
}
h3 {
    background-color: rgb(71, 11, 48);
    border-width: 10px;
    border-radius: 9px;
    border-style: inset;
    border-color: goldenrod;
    margin: 30px 500px 0px 10px;
    padding: 13px;
    font-size: 37px;
    font-style: unset;
    text-align: center;
}
table {
    background-color: rgb(111, 11, 36);
    border-width: 15px;
    border-style: ridge;
    border-color: goldenrod;
    border-radius: 9px;
    outline: 7px solid black;
}
footer {
    display: inline-block;
    background-color: rgb(71, 11, 48);
}
footer .p2 {
    text-align: center;
}
.image7 {
    border: 7px;
    border-style: groove;
    border-color: rgb(18, 3, 12);
    border-radius: 16px;
    border-bottom: -30px;
    border-right: -30px;
    border-top: 0px;
    border-left: 0px;
    position: sticky;
}
video {
    border: 7px;
    border-style: groove;
    border-color: rgb(18, 3, 12);
    border-radius: 6px;
}
.image1 {
    border-style: outset;
    border-radius: 25px;
    border-color: rgb(226, 199, 130);
    border-bottom: -30px;
    border-right: -30px;
    border-top: 0px;
    border-left: 0px;
    margin-left: 300px;
}
.image2 {
    border-style: outset;
    border-radius: 15px;
    border-color: rgb(226, 199, 130);
    border-bottom: -30px;
    border-right: -30px;
    border-top: 0px;
    border-left: 0px;
    margin-left: 350px;
    /* margin-right: 200px; */
}
.image3 {
    border-style: outset;
    border-radius: 15px;
    border-color: rgb(226, 199, 130);
    border-bottom: -30px;
    border-right: -30px;
    border-top: 0px;
    border-left: 0px;
    margin-left: 15%;
}
.image4 {
    border-style: outset;
    border-radius: 15px;
    border-color: rgb(226, 199, 130);
    border-bottom: -30px;
    border-right: -30px;
    border-top: 0px;
    border-left: 0px;
    margin-left: 250px;
}
.image5 {
    border-style: outset;
    border-radius: 15px;
    border-color: rgb(226, 199, 130);
    border-bottom: -30px;
    border-right: -30px;
    border-top: 0px;
    border-left: 0px;
}
.image6 {
    border-style: outset;
    border-radius: 15px;
    border-color: rgb(226, 199, 130);
    margin-left: 200px;

}
.image7 {
    border: 7px;
    border-style: groove;
    border-color: rgb(18, 3, 12);
    border-radius: 16px;
    border-bottom: -30px;
    border-right: -30px;
    border-top: 0px;
    border-left: 0px;
}
p {
    margin: 30px 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    letter-spacing: 1px;
    line-height: 35px;
    font-weight: 550;
    color: whitesmoke;
}
h4 {
    font-style: oblique;
    border-width: 6px;
    border-style: groove;
    border-radius: 15px;
    border-color: #a8a18b;
    background-color: rgb(39, 0, 41, 60%);
    margin: 30px 1100px 15px 30px;
    text-align: center;
}
